<!DOCTYPE html>
<html lang="vi" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>You are redirecting...</title>
    <link rel="stylesheet" href="/css/loadingpage.css">
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
  </head>
  <body>
    <span class="back">
    	<span>L</span>
    	<span>o</span>
    	<span>a</span>
    	<span>d</span>
    	<span>i</span>
    	<span>n</span>
    	<span>g</span>
    </span>
  </body>
</html>
<script type="text/javascript">
  setTimeout(()=>{
    window.location.href = "./calculatortime";
  },5000);
</script>
