<!DOCTYPE html>
<html lang="vi" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tính thời gian đi ngủ</title>
		<link rel="stylesheet" href="/css/calculatortime.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
		<script src="js/calculatortime.js"></script>
  </head>
  <body>
    <form name="login-form" class="login-form" action="" method="post">
    		<div class="header">
					<h1>Time to weekup !</h1>
					<p>Nhập đầy đủ thông tin</p>
    		</div>
    		<div class="content">
					<input name="start" type="time" class="input username" placeholder="timestart" value="22:00"/>
					<div class="user-icon"></div>
					<input name="reload" type="range" min="3" max="6" class="input password" placeholder="ChuKy" />
					<div class="pass-icon"></div>
					<input name="gosleep" type="number" min="2" max="30" class="input password" placeholder="Time go to sleep" value="2"/>
					<div class="gosleep-icon"></div>
    		</div>
    		<div class="footer">
					<a href="#" class="button">Login</a>
				</div>
    	</form>
  </body>
</html>
